<p id="notice"><%= notice %></p>
<h1>Portfolio</h1>
<%= link_to "New Portfolio", new_portfolio_path if logged_in?(:site_admin)%>
<p> <%#= new_portfolio_path%></p>  
<p> <%#= new_portfolio_url%></p>

      <%#= render partial: 'portfolio_item', collection: @portfolio_items %>
      <%# in above  render  partial condition the name  of the file in the portfolios folder will be _portfolio_item.html.erb and in the  same file  we will use (portfolio_item  every where) %>
      <%= render  @portfolio_items %>

<%= link_to "New Portfolio", new_portfolio_path%>