<h1>About Us</h1>
<p class="lead">
	Skyways Softwares is a global technology company specialising in platform-based digital transformation, supporting businesses to become connected, open, intelligent and scalable. Sonata’s Platformation™ methodology brings together industry expertise, platform technology excellence, design innovation and strategic engagement models to deliver sustained value to customers.
	
</p>