<h1>Pages#contact</h1>
<p> <%= number_to_phone "5874582879"%></p>
<p> <%= number_to_currency "5874582879"%></p>
<p> <%= number_to_percentage "68.5"%></p>
<p> <%= number_with_delimiter "5874582879"%></p>